<h1>Edit task:</h1>

<%= form_for @task, :url => task_edit_path, :method => 'patch' do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, autocomplete: 'off' %>
  <%= f.label :details, "Description" %>
  <%= f.text_field :details, autocomplete: 'off' %>
  <%= f.submit %>
  <%= link_to "â† Go Back", root_path, class: 'back-link' %>
<% end %>

